tasks.todo
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.vscode/
data.json
scraper.js
venv
*.safetensors
cleaned_json.json
dataset.json
all-MiniLM-L6-v2/
deepseek-ai/
document_store.json